@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');

.root {
    width: 350px;
    height: 130px;
    font-size: 100pt;
}
#btn-1{
    font-family: 'Homemade Apple', cursive;
    font-size: 50pt;
    color: #FFFFFF	;
}
#btn-1 {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
#btn-1::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #FFFFFF;
  transition: all 0.3s ease 0s;
}
#btn-1:hover {
  cursor: pointer;
}
#btn-1:hover::after {
  width: 100%;
}